#index-body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

.btn {
    margin-bottom: 10px;
    font-size: 15pt !important;
    font-weight: bold;
    background-color: rgb(55, 55, 55) !important;
    border-color: rgb(55, 55, 55) !important;
    color: rgb(247, 240, 240);
    border-width: 2px !important;
}

h1 {
    text-align: center;
    font-size: 32pt;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    margin-bottom: 25px;
}

.notes-container {
    flex-grow: 1;
    padding: 20px;
    font-size: 26pt;
}

.note {
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    background-color: #dbdbdb;
}



.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.sidebar .btn {
    margin-top: 5px;
}

.div-settings {
    width: 40%;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column-reverse;
}

.settings-button {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    padding: 7pt;
}

#create-body {
    text-align: center;
}

#create-form {
    display: inline-block;
    font-size: 24pt !important;
}

.form-label {
    margin-top: 20px;
    font-size: 24pt !important;
}

.form-control {
    font-size: 24pt !important;
}

.form-sumbit-button {
    margin-top: 20px !important;
}


/* Делает лейбл-текст невыделяемым */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-check {
    font-size: 26px !important;
}

.form-check-label {
    margin-left: 15px;
}

.checkbox {
    width: 30px;
    height: 30px;
}
