body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}
  
.sidebar {
    width: 190px;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
}
  
.notes-container {
    flex-grow: 1;
    padding: 20px;
    font-size: 26pt;
}
  
.button {
    margin-bottom: 10px;
    font-size: 24pt;
}